# ============================================
# Base de Datos
# ============================================
POSTGRES_DB=tempdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_PORT=5432

# ============================================
# JWT
# ============================================
APP_JWT_SECRET=ezkyO/2l7ExQ5LfJYgGT1dVtF1WGAFMAY6vtvomGmxY=
APP_JWT_EXPIRATION_HOURS=24

# ============================================
# Puertos
# ============================================
SERVER_PORT=8080
FRONTEND_PORT=80

# ============================================
# Frontend - URL base para peticiones API
# Vacío para usar rutas relativas (proxy Nginx)
# ============================================
VITE_API_URL=
